[buildout]
index = http://packages.lizardsystem.nl
extends =
    http://packages.lizardsystem.nl/kgs/latest.cfg
find-links =
unzip = true
prefer-final = true
versions = versions
extensions =
    buildout-versions
parts =
    test
    omelette
    console_scripts
develop = .
eggs =
    nensbuild

[test]
recipe = pbp.recipe.noserunner
eggs =
    nensbuild
    mock
defaults = nensbuild


[omelette]
# Creates a nice parts/omelette with our used eggs
recipe = collective.recipe.omelette
eggs = ${buildout:eggs}


[console_scripts]
recipe = zc.recipe.egg
interpreter = python
eggs =
    ${buildout:eggs}
# Development tools
    createcoverage
    zest.releaser